div,html,body,h1,h2,h3,p,ul,li,button{
	margin:0;
	padding:0;
	background:none;
	border:none;
	list-style:none;
}

html,body{
	width:100%;
	height:100%;
	font-family:'Roboto', sans-serif;
}

#root,
.app{
	width:100%;
	height:100%;
	position:relative;
}

.gl-wrapper{
	overflow:hidden;
}

/* Animation */
@keyframes spinning{
	0% {stroke-dashoffset:0;}
	100% {stroke-dashoffset:119.4px;}
}


/*Image*/
.image-detail-list-enter{
	opacity:0.01;
	top:200px;
}
.image-detail-list-enter.image-detail-list-enter-active{
	opacity:1;
	top:0px;
	transition:all 300ms ease-in;
}
.image-detail-list-leave{
	opacity:1;
	top:0px;
}
.image-detail-list-leave.image-detail-list-leave-active{
	opacity:0.01;
	top: -500px;
	transition:all 300ms ease-in;
}

/*Intro*/
.intro p{
	margin:0 0 15px;
}



